html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
#root, .app, .main-panel {
  height: 100%;
  min-height: 900px;
  overflow:hidden;
}

.app {
  background-color:#f9f3e8;
}