.controlstrip-container {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.controlstrip.pnl-panel {
    padding-top: 0;
}
.bp3-tab {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    outline: none;
    margin: 0 auto;
}

.view-tab-container {
    left: 1%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.run-flow-container {
    right: 1%;
    height: 100%;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
}
.run-flow-container .bp3-icon-play{
    margin:15px
}

.bp3-tab[aria-selected="true"], .bp3-tab:not([aria-disabled="true"]):hover {
    color: palevioletred;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
    background-color: palevioletred;
}

.bp3-tab-indicator-wrapper {
    height: 28px;
    bottom: 3px;
}

.bp3-tabs {
    height: 100%;
}

.bp3-tab-list {
    height: 100%;
}