.graph-view {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    align-content: center;
    justify-items: center;
    color: white;
    margin-left:1px;
    padding:0px !important;
}

ellipse.selected{
    fill: #e6faff;
}

.graph-view.pnl-panel{
    overflow: scroll;
}
.outer_svg{
    justify-content: center;
    align-content: center;
}

.inner_svg{
    justify-self: center;
    align-self: center;
}

rect.selection {
    stroke          : gray;
    stroke-width:     1px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.node {
    z-index: 0;
}

g.label {
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

g.state circle {
    stroke  : gray;
    cursor  : pointer;
}

g.state circle.inner {
    fill    : white;
}

g.state circle.outer {
    display         : none;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.state.selected circle.outer {
    display         : inline;
}

g.state text {
    font                : 12px sans-serif;
    font-weight         : bold;
    pointer-events      : none;
}

/* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

/*g.node, g.label, g.edge, g.recurrent path {*/
/*    transform-origin: center;*/
/*}*/