.valid-drag-hover .plotter.pnl-panel{
    background-color: #cee1ff
}

.subplot{
    border-style: dotted;
    border-width: 0px;
    border-color: #00a9d4;
}

.subplot.selected-left{
    border-left-width: 1px;
}
.subplot.selected-left .recharts-wrapper{
    margin-left: -1px;
}
.subplot.selected-top{
    border-top-width: 1px;
}
.subplot.selected-top .recharts-wrapper{
    margin-top: -1px;
}
.subplot.selected-right{
    border-right-width: 1px;
}
.subplot.selected-right .recharts-wrapper{
    margin-right: -1px;
}
.subplot.selected-bottom {
    border-bottom-width: 1px;
}
.subplot.selected-bottom .recharts-wrapper{
    margin-bottom: -1px
}
.subplot_boundary.right {
    height: 100%;
    width: 25%;
    right: 0;
    bottom: 0;
    position: absolute;
    border-right-color: transparent;
}

.subplot_boundary.right.selected {
    border-right-style: solid;
    border-right-color: #00a9d4;
    border-right-width: 2px;
}

.subplot_boundary.left {
    height: 100%;
    width: 25%;
    left: 0;
    bottom: 0;
    position: absolute;
    border-left-color: transparent;
}

.subplot_boundary.left.selected {
    border-left-style: solid;
    border-left-color: #00a9d4;
    border-left-width: 2px;
}

.subplot_boundary.top {
    height: 25%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    border-left-color: transparent;
}

.subplot_boundary.top.selected {
    border-top-style: solid;
    border-top-color: #00a9d4;
    border-top-width: 2px;
}

.subplot_boundary.bottom {
    height: 25%;
    width: 100%;
    top: 75%;
    bottom: 0;
    position: absolute;
    border-left-color: transparent;
}

.subplot_boundary.bottom.selected {
    border-bottom-style: solid;
    border-bottom-color: #00a9d4;
    border-bottom-width: 2px;
}

.subplot_boundary.null {
    height: 50%;
    width: 50%;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    position: absolute;
    border-left-color: transparent;
}

.plotter_canvas {
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    align-content: center;
    justify-items: center;
    color: white;
    margin-left:1px;
    padding:0px !important;
}

ellipse.selected{
    fill: #e6faff;
}

.plotter.pnl-panel{
    overflow: scroll;
}
.outer_svg{
    justify-content: center;
    align-content: center;
}

.inner_svg{
    justify-self: center;
    align-self: center;
}

rect.selection {
    stroke          : gray;
    stroke-width:     1px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.node {
    z-index: 0;
}

g.label {
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

g.state circle {
    stroke  : gray;
    cursor  : pointer;
}

g.state circle.inner {
    fill    : white;
}

g.state circle.outer {
    display         : none;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.state.selected circle.outer {
    display         : inline;
}

g.state text {
    font                : 12px sans-serif;
    font-weight         : bold;
    pointer-events      : none;
}

/* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

/*g.node, g.label, g.edge, g.recurrent path {*/
/*    transform-origin: center;*/
/*}*/