@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.bp3-tree {
    height:100%;
    width:100%;
    align-self: stretch;
    overflow: auto;
}

.bp3-tree-node {
    align-self: stretch;
    width: 100%;
}

/*.bp3-icon-cog {*/
/*    color: #61dafb*/
/*}*/

.react-grid-item {
    transition: none!important;
    transition-property: none!important;
}

.react-grid.item.cssTransforms {
    transition-property: none!important
}

.react-grid-layout {
    transition: none!important;
}